<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867099121481-t39i8i5te27msptihtmq73dv9g9j28mo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867099121481-t39i8i5te27msptihtmq73dv9g9j28mo</string>
	<key>API_KEY</key>
	<string>AIzaSyBmdnv4iyOVm4wnimQ_SW4dlnGBXKynlD4</string>
	<key>GCM_SENDER_ID</key>
	<string>867099121481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsApp</string>
	<key>PROJECT_ID</key>
	<string>computer-graphic-8b1c8</string>
	<key>STORAGE_BUCKET</key>
	<string>computer-graphic-8b1c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867099121481:ios:0962ef12fdbc373935ec98</string>
</dict>
</plist>